h2{

color: rgb(18, 144, 254);

font-family: Arial, Helvetica, sans-serif;


}

p {

    color: rgb(247, 197, 0);

    font-family: Arial, Helvetica, sans-serif;


}

h4 {

    color: rgb(253, 55, 0);

    font-family: Arial, Helvetica, sans-serif;


}